<mat-card class="main-form">
  <mat-card-title>Repository List</mat-card-title>
  <mat-card-content *ngIf="repositories$ | async as repositoryState">
    <mat-card class="repository-card" *ngFor="let repository of repositoryState.repositories">
      <mat-card-header >

        <mat-card-title><mat-icon >folder</mat-icon> <a mat-button routerLink="/repository" (click)="getRepository(repository.name)">{{repository.name}}</a></mat-card-title>
        <mat-card-subtitle><mat-icon class="star">stars</mat-icon> <span class="count">{{repository.stargazers_count}}  stars</span></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{repository.description}}</p>
      </mat-card-content>
    </mat-card>

  </mat-card-content>
</mat-card>
