.main-form{
  width: 600px;
  margin: 20px auto;
  height: 100%;
  overflow-y: scroll;
}
.star .mat-icon{
  font-size: 16px;
}
.repository-card{
  margin-bottom: 5px;
}

.star{
  margin-right: 0.5px;
  font-size: 15px;
}
