.main-form {
  width: 400px;
  padding: 2%;
  margin: auto;
  margin-top: 2%;
}
mat-card-title{
  text-align: center;
  margin-bottom: 30px;
}
mat-form-field {
  width: 45%;
  &.full-width {
    width: 80%;
    margin-left: 10%;
  }
}
mat-card-actions{
  text-align: center;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

