.main-form{
  width: 400px;
  height: 100%;
  margin: 20px auto;
  overflow-y: scroll;
}

img{
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

h3{
  margin-bottom: 4px;
}
