:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img{
  background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
}
